In [7]:
# StwÃ³rz skrypt Python

# Na gÃ³rze pliku dodaj wieloliniowy komentarz z opisem programu (punkty do wykonania z tego zadania)

# Zadeklaruj zmiennÄ… name i ustaw jej wartoÅ›Ä‡ na Twoje imiÄ™

# Dodaj komentarz "inline" do zmiennej o treÅ›ci: "This is my name"

# Wypisz "Hello World NAME", gdzie NAME to Twoje imiÄ™ (zmienna name)

name='Mateusz SkrzydÅ‚o' #This is my name
print(f'Hello World {name}')

Hello World Mateusz SkrzydÅ‚o

In [8]:
# Oblicz ile bitÃ³w to jeden Megabajt

# Ile razy Megabajt jest wiÄ™kszy od Megabita?

BIT = 1
KILOBIT = 1024 * BIT
MEGABIT = 1024 * KILOBIT

BYTE = 8 * BIT
KILOBYTE = 1024 * BYTE
MEGABYTE = 1024 * KILOBYTE

print(f'1 MB in bit = {1*MEGABYTE / BIT}')
print(f'1 MB in Mb = {1*MEGABYTE / MEGABIT} Mb')
print(f'MB - Mb = {(MEGABYTE - MEGABIT) / BIT}')

1 MB in bit = 8388608.0
1 MB in Mb = 8.0 Mb
MB - Mb = 7340032.0

In [18]:
# Oblicz ile sekund to piÄ™Ä‡ minut

# Oblicz ile sekund to jedna godzina

# Oblicz ile sekund to dzieÅ„ pracy (8 godzin)

# Oblicz ile sekund to miesiÄ…c pracy (22 dni po 8 godzin)

# Oblicz ile minut to tydzieÅ„ pracy (40 godzin)

SEKUNDA = 1
MINUTA = 60 * SEKUNDA
GODZINA = 60 * MINUTA

DZIEN_PRACY = 8 * GODZINA
TYDZIEN_PRACY = 5 * DZIEN_PRACY
MIESIAC_PRACY = 22 * DZIEN_PRACY

print(f' 5 minut to {SEKUNDA*5*MINUTA} sekund')
print(f' Godzina to {SEKUNDA*1*GODZINA} sekund')
print(f' Dzien pracy to {SEKUNDA*1*DZIEN_PRACY} sekund')
print(f' Miesiac pracy to {SEKUNDA*1*MIESIAC_PRACY} sekund')
print(f' Tydzien pracy to {SEKUNDA*1*TYDZIEN_PRACY//MINUTA} minut')

 5 minut to 300 sekund
 Godzina to 3600 sekund
 Dzien pracy to 28800 sekund
 Miesiac pracy to 633600 sekund
 Tydzien pracy to 2400 minut

In [22]:
# MajÄ…c Å‚Ä…cze internetowe do 100 Mb/s

# Ile zajmie Å›ciÄ…gniÄ™cie pliku 100 MB?

rozmiar_plik_MB = 100
rozmiar_plik_Mb = rozmiar_plik_MB * (1*MEGABYTE / MEGABIT)
print(f' Rozmiar pliku w Megabitach {rozmiar_plik_Mb}')

lacze=100 #100 Mb/s
czasPobierania =rozmiar_plik_Mb / lacze

print(f' Czas pobierania  {czasPobierania} sekund ')

 Rozmiar pliku w Megabitach 800.0
 Czas pobierania  8.0 sekund

In [37]:
# Jeden Kelwin to jeden stopieÅ„ Celsiusza (1K = 1Â°C)

# Zero Kelwina (bezwzglÄ™dne) to -273.15 stopni Celsiusza

# W zadaniu przyjmij rÃ³wne -273Â°C (0K = -273Â°C)

# Ile KelwinÃ³w, a ile stopni Celsiusza wynoszÄ… Å›rednie temperatury powierzchni [dACSICINTA19]:

# KsiÄ™Å¼yca w dzieÅ„: 180 Â°C

# KsiÄ™Å¼yca w nocy: 93 K

# Mars Å›rednia: âˆ’63 Â°C

# Mars najwyÅ¼sza: 20 Â°C

# Mars najniÅ¼sza: 120 K

CELSJUSZ = 1
ZEROKELWIN=-273 * CELSJUSZ
dzienKsiezyc=180 #C
nocKsiezyc = 93 #K
avgMars = -63 #C
maxMars = 20 #C
minMars = 120 #K


print(f' Åšrednia temperatura w Kelwinach na ksiÄ™Å¼ycu w dzieÅ„ {dzienKsiezyc*CELSJUSZ - ZEROKELWIN}')
print(f' Åšrednia temperatura w Celsjuszach na ksiÄ™Å¼ycu w nocy {nocKsiezyc + ZEROKELWIN}')
print(f' Åšrednia temperatura w Kelwinach na Marsie {avgMars*CELSJUSZ - ZEROKELWIN}')
print(f' Max temperatura w Kelwinach na Marsie {maxMars*CELSJUSZ - ZEROKELWIN}')
print(f' Min temperatura w Celsjuszach na Marsie {minMars + ZEROKELWIN}')

 Åšrednia temperatura w Kelwinach na ksiÄ™Å¼ycu w dzieÅ„ 453
 Åšrednia temperatura w Celsjuszach na ksiÄ™Å¼ycu w nocy -180
 Åšrednia temperatura w Kelwinach na Marsie 210
 Max temperatura w Kelwinach na Marsie 293
 Min temperatura w Celsjuszach na Marsie -153

In [55]:
# UÅ¼yj kodu z sekcji "Input" (patrz poniÅ¼ej)

# Zdefiniuj zmiennÄ… dla przechowywania wartoÅ›ci 1337 metrÃ³w

# Wypisz wartoÅ›Ä‡ w rÃ³Å¼nych jednostkach

# Przekonwertuj dane do typÃ³w podanych w komentarzu po prawej stronie

# Zamiast ... podstaw wyliczone i przekonwertowane wartoÅ›ci

# Wymagania niefunkcjonalne:

# Nie uÅ¼ywaj input()

M = 1
KM = 1000 * M
MI = 1608 * M
NMI = 1852 * M
zmienna = 1337 * M
zmiennaKM =float(zmienna/KM)
zmiennaMI =float(zmienna/MI)
zmiennaNMI =float(zmienna/NMI)

print(f'Meters: {zmienna}')                                             # int
print(f'Kilometers: {zmiennaKM}')                                    # float
print(f'Miles: {round(zmiennaMI,2)}')                                # float (two decimal places)
print(f'Nautical Miles: {round(zmiennaNMI,2)}')                      # float (two decimal places)
print(f'm: {zmienna}, km: {zmiennaKM}, mi: {round(zmiennaMI,1)}, nm: {round(zmiennaNMI,1)}')  # int, int, float (one decimal place), float (one decimal place)

Meters: 1337
Kilometers: 1.337
Miles: 0.83
Nautical Miles: 0.72
m: 1337, km: 1.337, mi: 0.8, nm: 0.7

In [70]:
# CiÅ›nienie operacyjne skafandra kosmicznego EMU: 4.3 PSI

# CiÅ›nienie operacyjne skafandra kosmicznego ORLAN: 400 hPa

# Oblicz ciÅ›nienie operacyjne skafandra EMU w kPa

# Oblicz ciÅ›nienie operacyjne skafandra Orlan w PSI

# Oblicz ciÅ›nienie standardowej atmosfery na poziomie morza

# Oblicz ciÅ›nienie parcjalne tlenu na poziomie morza

# Na jakiej wysokoÅ›ci nad poziomem morza panuje ciÅ›nienie rÃ³wne ciÅ›nieniu parcjalnemu tlenu?

# Wypisz wszystkie wyniki w kPa oraz PSI zaokrÄ…glajÄ…c do dwÃ³ch miejsc po przecinku

M=1
PA = 1
HPA = 100 * PA
ATA = 1013.25 * HPA
PSI = 6894.757 * PA
PREESSURE = -11.3*PA/M
skafanderEMU_hpa = 4.3 * PSI 
print(skafanderEMU_hpa)
skafanderOrlan_psi = 400 * HPA 
print(skafanderOrlan_psi)
print(ATA/HPA)
o2 = 20.946/100 * ATA
print(o2)
death = (o2 - ATA)/(-11.3 / M)
print(death)

#dokoÅ„czyÄ‡ sformatowaÄ‡

29647.455099999996
40000
1013.25
21223.5345
7088.625265486725

In [66]:
a = bool(True) == True                   # True
b = bool(False) == False                  # True
c = True == True                        # True
d = True != False                        # True
e = True or False                          # True
f = True and False                         # False
g = bool(bool(False) == False) or False   # True
h = bool(True) is not bool(True)          # False
print(bool(a))                          # True
print(bool(b))                          # True
print(bool(c))                          # True
print(bool(d))                          # True
print(bool(e))                          # True
print(bool(f))                          # False
print(bool(g))                          # True
print(bool(h))                          # False

True
True
True
True
True
False
True
False

In [81]:
# PoproÅ› uÅ¼ytkownika o wprowadzenie imienia

# Wypisz hello NAME EMOTICON, gdzie:

# NAME to imiÄ™ wczytane od uÅ¼ytkownika

# EMOTICON to Unicode Codepoint "U+1F642"

name = input('Podaj swoje imiÄ™ :').strip()
length = len(name)
emoticon='\U0001F642'
print(f' hello {name} {emoticon}' )
print(length)

Podaj swoje imiÄ™ : sda
 hello sda ðŸ™‚
3

In [112]:
# UÅ¼yj danych z sekcji "Input" (patrz poniÅ¼ej)

# Oczekiwana wartoÅ›Ä‡ Jana III Sobieskiego

# Wykorzystaj tylko metody str do oczyszczenia kaÅ¼dej zmiennej

# PrzeprowadÅº dyskusjÄ™ jak zrobiÄ‡ rozwiÄ…zanie generyczne pasujÄ…ce do wszystkich przypadkÃ³w

# Implementacja takiej generycznej funkcji bÄ™dzie w rozdziale Cleaning text input

# PorÃ³wnaj wyniki z sekcjÄ… "Output" (patrz poniÅ¼ej)

a = 'ul Jana III SobIESkiego'
b = '\tul. Jana trzeciego Sobieskiego'
c = 'ulicaJana III Sobieskiego'
d = 'UL. JANA 3 \nSOBIESKIEGO'
e = 'UL. jana III SOBiesKIEGO'
f = 'ULICA JANA III SOBIESKIEGO  '
g = 'ULICA. JANA III SOBIeskieGO'
h = ' Jana 3 Sobieskiego  '
i = 'Jana III Sobi\teskiego '

a = a.replace('ul', '').title().replace('Iii', 'III').strip()
b = b.replace('\tul.', '').title().replace('Trzeciego', 'III').strip()
c = c.replace('ulica', '').title().replace('Iii', 'III').strip()
d = d.replace('UL.', '').replace('\n', '').title().replace('3', 'III').strip()
e=e.replace('UL.', '').title().replace('Iii', 'III').strip()
f=f.replace('ULICA', '').title().replace('Iii', 'III').strip()
g=g.replace('ULICA.', '').title().replace('Iii', 'III').strip()
h=h.replace('3', 'III').strip()
i=i.replace('\t', '').strip()
expected = 'Jana III Sobieskiego'

print(f'{a == expected}\ta = "{a}"')
print(f'{b == expected}\tb = "{b}"')
print(f'{c == expected}\tc = "{c}"')
print(f'{d == expected}\td = "{d}"')
print(f'{e == expected}\te = "{e}"')
print(f'{f == expected}\tf = "{f}"')
print(f'{g == expected}\tg = "{g}"')
print(f'{h == expected}\th = "{h}"')
print(f'{i == expected}\ti = "{i}"')

True	a = "Jana III Sobieskiego"
True	b = "Jana III Sobieskiego"
True	c = "Jana III Sobieskiego"
True	d = "Jana III Sobieskiego"
True	e = "Jana III Sobieskiego"
True	f = "Jana III Sobieskiego"
True	g = "Jana III Sobieskiego"
True	h = "Jana III Sobieskiego"
True	i = "Jana III Sobieskiego"

In [116]:
# UÅ¼yj danych z sekcji "Input" (patrz poniÅ¼ej)

# StwÃ³rz list reprezentujÄ…cy kaÅ¼dy wiersz

a = [5.8, 2.7, 5.1, 1.9, 'virginica']
b = [5.1,3.5,1.4,0.2,'setosa']
c = [5.7, 2.8, 4.1, 1.3, 'versicolor']
print(a,b,c)

[5.8, 2.7, 5.1, 1.9, 'virginica'] [5.1, 3.5, 1.4, 0.2, 'setosa'] [5.7, 2.8, 4.1, 1.3, 'versicolor']

In [128]:
# UÅ¼yj danych z sekcji "Input" (patrz poniÅ¼ej)

# Na listÄ™ a na pozycjÄ™ o indeksie 0 wstaw gatunek pobrany z listy b (setosa)

# Na koniec listy b wstaw gatunek pobrany z listy a (virginica)

# Z listy c usuÅ„ gatunek

a = [5.8, 2.7, 5.1, 1.9, 'virginica']
b = [5.1, 3.5, 1.4, 0.2, 'setosa']
c = [5.7, 2.8, 4.1, 1.3, 'versicolor']

a.insert(0,b[-1])
b.append(a.pop())
del c[-1]
print(a,b,c)

['setosa', 5.8, 2.7, 5.1, 1.9] [5.1, 3.5, 1.4, 0.2, 'setosa', 'virginica'] [5.7, 2.8, 4.1, 1.3]